.aboutus-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.aboutus-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
}