.footer {
    margin-top: 10px;
    background-color:rgb(235, 235, 235);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 4%;
    justify-content: space-around;
    border-radius: 5px;
}
.logo {
    display: flex;
   flex-direction: row;
   margin-top: 10px;
}


.address img {
    height: 20px;
}

.address p {
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.address li {
    list-style: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin: 5px;
    cursor: pointer;
}

.address li:hover {
    text-decoration: underline;
}

.menu h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.menu li {
    list-style:none;
    font-size: 18px;
    line-height: 30px;
    margin: 10px;
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu li a {
    text-decoration: none;
    color: rgb(97, 97, 97);
    font-weight: 800;
    padding-left: 10px;
}



.footer-services h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.footer-services li {
    list-style: none;
    font-size: 18px;
    line-height: 30px;
    margin: 10px;
    margin-left: 60px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-services li a {
    text-decoration: none;
    color: rgb(97, 97, 97);
    font-weight: 800;
    padding-left: 10px;
}

.socialmedia h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.socialmedia li {
    list-style: none;
    font-size: 18px;
    line-height: 30px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.socialmedia li a {
    text-decoration: none;
    color: rgb(97, 97, 97);
    font-weight: 800;
    padding-left: 10px;
}



@media screen and (max-width: 1024px) {
    .footer {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .address, .menu, .footer-services, .socialmedia {
        flex: 1 1 45%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 5%;
        text-align: center;
    }

    .address, .menu, .footer-services, .socialmedia {
        width: 100%;
    }

    .menu h2, .footer-services h2, .socialmedia h2 {
        font-size: 18px;
    }

    .menu li, .footer-services li, .socialmedia li {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        padding: 10%;
    }

    .menu h2, .footer-services h2, .socialmedia h2 {
        font-size: 16px;
    }

    .menu li, .footer-services li, .socialmedia li {
        font-size: 14px;
    }
}