.box {
    background-color: white;
    width: 300px;
    height: max-content;
    border-radius: 8px;
    box-shadow: 1px 3px 5px white;
    padding: 2%;
    margin: 4% 0% 4% 0%;
    cursor: pointer;
}

.box:hover {
    transform: scale(1.05);
}

.box h2 {
    font-size: 18px;
}

.box p {
    line-height: 28px;
    font-size: 14px;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .box {
        width: 90%; /* Make it responsive on tablets */
        padding: 4%;
    }

    .box h2 {
        font-size: 18px;
    }

    .box p {
        font-size: 15px;
        line-height: 26px;
    }
}

@media screen and (max-width: 480px) {
    .box {
        width: 95%; /* Take full width on small screens */
        padding: 5%;
        margin: 6% auto;
    }

    .box h2 {
        font-size: 16px;
    }

    .box p {
        font-size: 14px;
        line-height: 24px;
    }
}





